JWT_SECRET='mySecretKeyForJWT'
JWT_ISSUER='myAppIssuer'
JWT_AUDIENCE='myAppAudience'
PORT=5000
API_PREFIX='api'
MONGO_URL='mongodb+srv://nabhagmotivaras:nabhagmotivaras@cluster0.irw4cpq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'